
<p class="sub">
  Select Provider
</p>
<!--<mat-form-field class="search">
  <input matInput placeholder="Search Provider here" aria-label="State" [matAutocomplete]="auto" [formControl]="myControl" >
  <mat-autocomplete #auto="matAutocomplete" >
  <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let bank of options" [value]="bank">
        <span><b>{{bank}}</b></span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>-->
<div>
<img src="/assets/sbil.jpg" class="img" width="130" (click)='sbi()'>
<img src="/assets/canara.png" class="imgc" width="300" (click)='canara()'>
<img src="/assets/icici.png" class="imgi" width="200" (click)='icici()'>
<img src="/assets/axis.png" class="imga" width="200" (click)='axis()'>


